<meta charset="utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="{{ page.keywords }}" />
<meta name="description" content="{{ page.description }}" />
{% if site.favicon %}
    <link rel="icon" href="{{ site.favicon['favicon'] }}" type="image/x-icon" />
    <link rel="SHORTCUT ICON" href="{{ site.favicon['thumbnail'] }}?v={{ "now"|date("U") }}" type="image/x-icon" />
{% endif %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
